<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN PAGE</title>
    <!-- 아이콘 관련 링크 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- isotope -->
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    
    <!-- 스크롤시 등장효과 AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- 파비콘 관련 링크 -->
    <link rel="shortcut icon" href="img/favicon_.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon_.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="main_page">
        <%- include("common/main_banner.ejs") %>
        <div class="welcome">
            <div class="center">
                <h2 data-aos="fade-up" data-aos-duration="1000">WELCOME</h2>
                <div data-aos="fade-up" data-aos-duration="1000" class="context_box">
                    <p>언제나 느긋한 모습으로 조용하고 평화롭게 당신을 맞이해주는 시크릿 가든 산책로와 올레길7코스 해변, 완벽한 일상 탈출, 방해받지 않는 시간과 공간, 자연이 살아있는 곳, 시크릿 가든 산책로를 따라 프라이빗하고 신비스런 시간을 가져보세요. 호텔 그랜드는 해안선을 따라 소나무와 벚꽃나무가 즐비하게 늘어선 달맞이길 언덕에 위치하고 있습니다. 호텔 그랜드는 해변에서 15분정도의 거리에 위치해 있어 이용하는데 불편함이 없고 아늑한 분위기를 느낄 수 있습니다.</p>
                    <p>객실 내에서는 넓게 펼쳐진 바닷가를 비롯한 오륙도, 동백섬, 이기대, 광안대교까지 아름다운 절경을 한눈에 볼 수 있습니다. 존재하는 것은 오직 푸른 바다와 소나무, 그리고 호텔 그랜드 뿐. 어디에서나 한눈에 들어오는 멋진 바다, 차분하게 들려오는 파도 소리, 코끝을 간질이는 바다 내음이 비로소 일상을 떠나 진정한 휴식의 공간에 도착했음을 실감하게 합니다.</p>
                    <p>마치 내 집인 듯 바다를 오가고, 세련된 라이프스타일과 리조트 문화를 경험하며, 지친 몸과 마음에 새로운 에너지를 얻을 수 있는 곳. 모든 것을 누리거나 아무 것도 하지 않을 자유가 있는 이곳, 호텔 그랜드로 여러분을 초대합니다.</p>
                </div>
            </div>
        </div>
        <div class="looking_for">
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">What Are You Looking For?</h2>
                <div class="context_boxs">
                    <div class="left_box"  data-aos="fade-right" data-aos-duration="1000">
                        <img src="/img/reception.jpg">
                    </div>
                    <div class="right_box"  data-aos="fade-left" data-aos-duration="1000">
                        <div class="line" data-aos="fade-left" data-aos-duration="1000" delay:0>
                            <i class="fa-solid fa-martini-glass-citrus"></i>
                            <div class="text">
                                <h3>Festival Of Prosecco</h3>
                                <p>바다를 360도 한눈에 바라 볼 수 있는 루프탑에서 눈앞에 펼쳐지는 잊지못할 파노라마 뷰를 감상하시길 바랍니다. 바다에서부터 실려오는 맑은 공기와 함께 바에서 제공되는 와인을 즐겨보세요.</p>
                            </div>
                        </div>
                        <div class="line" data-aos="fade-left" data-aos-duration="1000" delay: 1000>
                            <i class="fa-solid fa-bed"></i>
                            <div class="text">
                                <h3>Sleep In Style</h3>
                                <p>조용히 프라이빗하게 즐기는 환상적인 뷰와 한숨의 낮잠이 달콤한, 당신이 진정 원하던 꿈같은 재충전 시간을 호텔 그랜드에서 가져 보세요.</p>
                            </div>
                        </div>
                        <div class="line" data-aos="fade-left" data-aos-duration="1000" delay: 2000>
                            <i class="fa-solid fa-bell-concierge"></i>
                            <div class="text">
                                <h3>The Perfect Breakfast</h3>
                                <p>이태리 코트야드를 떠올리는 정감있고 아담한 알프레스코 정원을 전망으로, 조식, 런치, 디너를 서빙합니다. 런치와 디너식사는 바다에서 구한 식재료로 영감을 받은 이태리식 피자 및 파스타, 그밖의 다양한 음식들을 맛볼 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="line" data-aos="fade-left" data-aos-duration="1000" delay: 3000>
                            <i class="fa-solid fa-water-ladder"></i>
                            <div class="text">
                                <h3>Swimming Pool</h3>
                                <p>365일 따뜻한 온수풀로 운영되는 ‘야외 인피니티풀’은 호텔을 둘러싼 푸른 바다와 수려한 자연경관을 바라보며 평화롭고 자유스런 휴식을 즐길 수 있는 곳입니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rooms">
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">Rooms & Suites</h2>
                <div class="boxs">
                    <a href="/junior_suite">
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <img src="/img/room01.jpg" class="wide">
                            </div>
                            <div class="text_box">
                                <p class="price">150$ / NIGHT</p>
                                <h3>Junior Suite</h3>
                                <span></span>
                                <div class="hide">
                                    <div class="include">
                                        <i class="fa-solid fa-bed"></i>
                                        <i class="fa-solid fa-bath"></i>
                                        <i class="fa-solid fa-vault"></i>
                                        <i class="fa-solid fa-mug-saucer"></i>
                                    </div>
                                    <a href="/junior_suite">More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/family_room">
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <img src="/img/room02.jpg" class="wide">
                            </div>
                            <div class="text_box">
                                <p class="price">250$ / NIGHT</p>
                                <h3>Family Room</h3>
                                <span></span>
                                <div class="hide">
                                    <div class="include">
                                        <i class="fa-solid fa-bed"></i>
                                        <i class="fa-solid fa-bath"></i>
                                        <i class="fa-solid fa-vault"></i>
                                        <i class="fa-solid fa-mug-saucer"></i>
                                    </div>
                                    <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/double_room">
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <img src="/img/room03.jpg" class="wide">
                            </div>
                            <div class="text_box">
                                <p class="price">350$ / NIGHT</p>
                                <h3>Double Room</h3>
                                <span></span>
                                <div class="hide">
                                    <div class="include">
                                        <i class="fa-solid fa-bed"></i>
                                        <i class="fa-solid fa-bath"></i>
                                        <i class="fa-solid fa-vault"></i>
                                        <i class="fa-solid fa-mug-saucer"></i>
                                    </div>
                                    <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/deluxe_room">
                        <div class="box width">
                            <div class="img_box">
                                <span></span>
                                <img src="/img/room04.jpg">
                            </div>
                            <div class="text_box">
                                <p class="price">500$ / NIGHT</p>
                                <h3>Deluxe Room</h3>
                                <span></span>
                                <div class="hide">
                                    <div class="include">
                                        <i class="fa-solid fa-bed"></i>
                                        <i class="fa-solid fa-bath"></i>
                                        <i class="fa-solid fa-vault"></i>
                                        <i class="fa-solid fa-mug-saucer"></i>
                                    </div>
                                    <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/superior_room">
                        <div class="box width">
                            <div class="img_box">
                                <span></span>
                                <img src="/img/room05.jpg">
                            </div>
                            <div class="text_box">
                                <p class="price">200$ / NIGHT</p>
                                <h3>Superior Room</h3>
                                <span></span>
                                <div class="hide">
                                    <div class="include">
                                        <i class="fa-solid fa-bed"></i>
                                        <i class="fa-solid fa-bath"></i>
                                        <i class="fa-solid fa-vault"></i>
                                        <i class="fa-solid fa-mug-saucer"></i>
                                    </div>
                                    <a href="#">More <i class="fa-solid fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="facilities">
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">Hotel Facilities</h2>
                <ul class="facilitiesBtns">
                    <li data-facilities = "*" class="on">All<span></span></li>
                    <li data-facilities = ".food">food<span></span></li>
                    <li data-facilities = ".relax">relax<span></span></li>
                    <li data-facilities = ".health">health<span></span></li>
                </ul>
                <div class="boxs">
                    <div class="box food">
                        <div class="img_box">
                            <img src="/img/facilities01.png">
                        </div>
                        <div class="text_box">
                            <h3>The Restaurant</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box relax">
                        <div class="img_box">
                            <img src="/img/facilities02.png">
                        </div>
                        <div class="text_box">
                            <h3>The Spa</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box health">
                        <div class="img_box long">
                            <img src="/img/facilities03.png">
                        </div>
                        <div class="text_box">
                            <h3>The Pool</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box health big">
                        <div class="img_box">
                            <img src="/img/facilities04.png">
                        </div>
                        <div class="text_box">
                            <h3>Fitness Center</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box food relax">
                        <div class="img_box">
                            <img src="/img/facilities05.png">
                        </div>
                        <div class="text_box">
                            <h3>The Café</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box food dark">
                        <div class="img_box">
                            <img src="/img/facilities06.png">
                        </div>
                        <div class="text_box">
                            <h3>The Bar</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                    <div class="box food">
                        <div class="img_box">
                            <img src="/img/facilities07.png">
                        </div>
                        <div class="text_box">
                            <h3>The Bar</h3>
                            <a href="#">See more</a>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="count">
            <div class="center" data-aos="fade-up" data-aos-duration="1000">
                <div class="left">
                    <div class="count_one">
                        <div class="icon"><i class="fa-solid fa-tags"></i></div>
                        <div class="text1 text"><span>00</span><p>Lorem ipsum dolor</p></div>
                    </div>
                    <div class="count_one">
                        <div class="icon"><i class="fa-solid fa-users"></i></div>
                        <div class="text2 text"><span>00</span><p>Lorem ipsum dolor</p></div>
                    </div>
                </div>
                <div class="right">
                    <div class="count_one">
                        <div class="icon"><i class="fa-sharp fa-solid fa-plane"></i></div>
                        <div class="text3 text"><span>00</span><p>Lorem ipsum dolor</p></div>
                    </div>
                    <div class="count_one">
                        <div class="icon"><i class="fa-solid fa-earth-americas"></i></div>
                        <div class="text4 text"><span>00</span><p>Lorem ipsum dolor</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">Our News</h2>
                <div class="boxs"  data-aos="fade-left" data-aos-duration="1000">
                    <div class="btns">
                        <img class="right" src="/img/right.png">
                        <img class="left" src="/img/left.png">
                    </div>
                    <div class="view">
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>OCT</p>
                                    <p>08</p>
                                </div>
                                <img src="/img/news01.png">
                            </div>
                            <div class="text_box">
                                <h3>Restaurant</h3>
                                <p>레스트랑의 신메뉴 개발 소식</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>OCT</p>
                                    <p>25</p>
                                </div>
                                <img src="/img/news02.png">
                            </div>
                            <div class="text_box">
                                <h3>Restaurant</h3>
                                <p>호텔 조식 패키지</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>Dec</p>
                                    <p>08</p>
                                </div>
                                <img src="/img/news03.jpg">
                            </div>
                            <div class="text_box">
                                <h3>SPA</h3>
                                <p>스파 개장 소식</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>Dec</p>
                                    <p>12</p>
                                </div>
                                <img src="/img/news04.jpg">
                            </div>
                            <div class="text_box">
                                <h3>Café</h3>
                                <p>겨울 한정 메뉴</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>Dec</p>
                                    <p>28</p>
                                </div>
                                <img src="/img/news05.jpg">
                            </div>
                            <div class="text_box">
                                <h3>Restaurant</h3>
                                <p>새해맞이 레스토랑 신메뉴</p>
                            </div>
                        </div>
                        <div class="box">
                            <div class="img_box">
                                <span></span>
                                <div class="date_box">
                                    <p>Dec</p>
                                    <p>28</p>
                                </div>
                                <img src="/img/news06.jpg">
                            </div>
                            <div class="text_box">
                                <h3>Room</h3>
                                <p>새해맞이 전객실 데코레이션</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gift">
            <span class="gift_bg"></span>
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">The Perfect Wedding</h2>
                <p data-aos="fade-up" data-aos-duration="1000">한 눈에 보이는 야외정원과 청량한 바다가 어우러져 한폭의 그림을 연상케하는 자연 속의 특별한 공간에서 누구보다 프라이빗한 웨딩을 실현시켜주는 그랜드의 웨딩 파크빌리지입니다. 반짝이는 해변의 모래알과 영롱한 바닷물을 모티브로 탄생한 그랜드만의 시그니처 웨딩. 시그니처 웨딩은 수많은 크리스털이 아름답게 빛을 내며 햇빛에 찰랑이는 물결을 표현한 웨딩 월을 시작으로 눈부신 크리스털 플라워 센터피스, 파노라마와 같이 넓은 바다를 배경으로 산호 및 금속 디테일 소품들 하나하나로 잊을 수 없는 웨딩 데코레이션을 선사합니다.</p>
                <p data-aos="fade-up" data-aos-duration="1000">영원한 미래로 향하는 찬란한 순간, 오직 당신만을 위한 시간이 시작됩니다. 호텔 그랜드가 사람의 눈부신 시작을 잊지 못 할 기억으로 만들어 드립니다. 그린&화이트 컬러 플라워와 그랜드만의 펼쳐진 바다, 영롱한 햇빛 하모니가 만드는 내추럴한 분위기의 웨딩. 네이처 웨딩은 파노라마 바다 경관과 따뜻한 자연 채광이 신랑 신부의 아름다운 순간을 더욱 로맨틱하게 연출합니다. 그랜드의 데코레이션은 그랜드에서만 유일하게 느낄 수 있는 웨딩, 내 생애 가장 완벽한 순간을 선사합니다.</p>
                <img src="/img/gift.jpg" data-aos="fade-up" data-aos-duration="1000">
            </div>
        </div>
        <div class="contact_us">
            <div class="center">
                <h2 data-aos="fade-right" data-aos-duration="1000">Contact Us</h2>
                <p class="contactUs_context" data-aos="fade-up" data-aos-duration="1000">한적하고 편안한 휴양을 원하는 사람들을 위해 달맞이길 언덕에 자리잡은 호텔 그랜드. 객실 내에서는 넓게 펼쳐진 바닷가를 비롯한 오륙도, 동백섬, 이기대, 광안대교까지 아름다운 절경을 한눈에 볼 수 있습니다. 바다에서부터 실려오는 맑은 공기는 내 몸안에 가득이 담고 싶어지고, 그림같은 뷰를 바라보고 있으면, 내안에 잠재하고 있던 좋은 영감이 떠오르기도 합니다. 여러분에게 가치있는 휴식과 꿈에서 바라는 시간을 선사할 수 있도록 운영합니다. 당신이 진정 원하던 꿈같은 재충전 시간을 호텔 그랜드에서 가져 보세요.</p>
                <div class="boxs" data-aos="fade-up" data-aos-duration="1000">
                    <div class="top_line">
                        <div class="box">
                            <i class="fa-solid fa-phone"></i>
                            <p>Reservation</p>
                            <p>+82 287 - 465 - 0659</p>
                        </div>
                        <div class="box bot_box">
                            <i class="fa-regular fa-envelope"></i>
                            <p>Email Info</p>
                            <p>info@grandhotel.com</p>
                        </div>
                    </div>
                    <div class="bot_line">
                        <div class="box">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>Address</p>
                            <p>360 Harvest St, North Subract, London. United<br>States Of Amrica</p>
                        </div>
                        <div class="box bot_box">
                            <i class="fa-solid fa-earth-americas"></i>
                            <p>Web</p>
                            <p>info@luxuryhotel.com</p>
                        </div>
                    </div>
                </div>
                <div class="contact_box" data-aos="fade-up" data-aos-duration="1000">
                    <div class="top_line">
                        <input type="text" placeholder="First Name">
                        <input type="text" placeholder="Last Name">
                    </div>
                    <input type="text" placeholder="Email Address">
                    <a href="/register">Join With Us</a>
                </div>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>

    <!-- <script src="js/main_news.js"></script> -->
    <!-- isotope 관련 스크립트 -->
    <!-- <script src="js/isotope.pkgd.min.js"></script> -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/facilities.js"></script>

    <!-- 카운트 관련 스크립트 -->
    <script src="js/count.js"></script>

    <!-- gnb메뉴 이동 관련 스크립트 -->
    <script src="js/header_gnb.js"></script>
    
    <!-- 스크롤시 등장효과 AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>

    <!-- carousel 관련 스크립트 -->
    <script src="/js/carousel.js"></script>
</body>
</html>