<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
        <!-- 아이콘 관련 링크 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        
        <!-- 폰트 관련 링크 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet">

        <!-- 폰트 관련 링크 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- 스크롤시 등장효과 AOS -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <!-- 파비콘 관련 링크 -->
        <link rel="shortcut icon" href="img/favicon_.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon_.ico" type="image/x-icon">
    
        <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include("common/subpage_header.ejs") %>
    <%- include("common/banner.ejs") %>
    <div id="about_us">
        <div class="welcome">
            <div class="center">
                <div class="left_box">
                    <h3 data-aos="fade-right" data-aos-duration="1000">Welcome to Our Hotel</h3>
                    <p data-aos="fade-up" data-aos-duration="1000">언제나 느긋한 모습으로 조용하고 평화롭게 당신을 맞이해주는 시크릿 가든 산책로와 올레길7코스 해변, 완벽한 일상 탈출, 방해받지 않는 시간과 공간, 자연이 살아있는 곳, 시크릿 가든 산책로를 따라 프라이빗하고 신비스런 시간을 가져보세요. 호텔 그랜드는 해안선을 따라 소나무와 벚꽃나무가 즐비하게 늘어선 달맞이길 언덕에 위치하고 있습니다. 호텔 그랜드는 해변에서 15분정도의 거리에 위치해 있어 이용하는데 불편함이 없고 아늑한 분위기를 느낄 수 있습니다.</p>
                    <a data-aos="fade-up" data-aos-duration="1000" class="readMore" href="#">Read More</a>
                </div>
                <div class="right_box">
                    <img data-aos="fade-down" data-aos-duration="1000" class="img01" src="/img/subpage_1.jpg">
                    <img data-aos="fade-up" data-aos-duration="1000" class="img02" src="/img/subpage_2.jpg">
                </div>
            </div>
        </div>
        <div class="services">
            <div class="center">
                <h3 data-aos="fade-right" data-aos-duration="1000">Extra Services</h3>
                <div class="boxs">
                    <div class="box" data-aos="fade-up" data-aos-duration="1000">
                        <div class="img_box">
                            <img src="/img/subpage_5.jpg">
                        </div>
                        <div class="text_box">
                            <h4>Room Breakfast</h4>
                            <h5>$70<span>/ daily</span></h5>
                            <p><i class="fa-solid fa-check"></i> 매일 아침 신선한 식사가 제공됩니다.</p>
                            <p><i class="fa-solid fa-check"></i> 식사는 뷔페식으로 제공됩니다.</p>
                            <p><i class="fa-solid fa-check"></i> 식사는 양식과 한식으로 이루어져 있습니다.</p>
                        </div>
                    </div>
                    <div class="box" data-aos="fade-down" data-aos-duration="1000">
                        <div class="img_box">
                            <img src="/img/subpage_4.jpg">
                        </div>
                        <div class="text_box">
                            <h4>Drink included</h4>
                            <h5>$30<span>/ daily</span></h5>
                            <p><i class="fa-solid fa-check"></i> 바는 호텔 레스토랑 내에 있습니다.</p>
                            <p><i class="fa-solid fa-check"></i> 또한 호텔 루프탑에서도 제공되고 있습니다.</p>
                            <p><i class="fa-solid fa-x"></i> 미성년자에게 술은 제공되지 않습니다.</p>
                        </div>
                    </div>
                    <div class="box" data-aos="fade-up" data-aos-duration="1000">
                        <div class="img_box">
                            <img src="/img/subpage_3.jpg">
                        </div>
                        <div class="text_box">
                            <h4>Room Cleaning</h4>
                            <h5>$50<span>/ daily</span></h5>
                            <p><i class="fa-solid fa-check"></i> 전 객실에 매일 청소가 제공됩니다.</p>
                            <p><i class="fa-solid fa-x"></i> 원치않는 고객님들께는 제공되지 않습니다.</p>
                            <p><i class="fa-solid fa-check"></i> 매일 새로운 수건으로 교체해드립니다.</p>
                        </div>
                    </div>
                </div>
                <a class="readMore" href="#">Read More</a>
            </div>
        </div>
        <div class="clients_say">
            <div class="center">
                <h3 data-aos="fade-right" data-aos-duration="1000">What Client's Say?</h3>
                <div class="customers" data-aos="fade-left" data-aos-duration="1000">
                    <div class="customer">
                        <span><img src="/img/quotes.png"></span>
                        <div class="text_box">
                            <p>결혼 2주년을 맞아 여행을 계획하면서 호텔을 찾아보던중에 우연히 발견하고 온수풀장이 맘에 들어서 예약했어요. 진짜 온수풀장 최고임 스쿠버다이빙이 취미라 오전에는 다이빙2회 하고, 오후랑 저녁에는 온수풀장 에서 피로를 풀었습니다. 바다는 출수 하고 나면 너무너무너무 추운데 온수풀장은 따뜻해서 진짜 너무 좋았어요~ 전 객실 오션뷰고 객실마다 욕조도 마련돼 있어서 완전 이쁨. 욕조에서 바다를 보면서 따끈한 물에 거품목욕을 하다니 넘 환상적이였습니다. 체크아웃하고나서 시크릿가든 산책로를 걸었는데 바다를 제대로 느끼고 돌아왔습니다. 재방문의사 300프로!!</p>
                        </div>
                        <div class="auther">
                            <img src="/img/customer1.png">
                            <div class="auther_info">
                                <p>Emily White</p>
                                <p class="guest">Guest Review</p>
                            </div>
                        </div>
                    </div>
                    <div class="customer">
                        <span><img src="/img/quotes.png"></span>
                        <div class="text_box">
                            <p>Duis dictum sed odio ut laoreet. Proin facilisis, est at rhoncus pellentesque, purus neque ullamcorper lectus, id eleifend ipsum nisl sit amet justo. Suspendisse felis nunc, aliquet vel sollicitudin quis, congue vitae mauris. Donec et augue id lorem blandit porta. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed laoreet, massa ac dictum ullamcorper, magna ex dictum elit, at condimentum sem magna quis quam. Nam nec mi orci.</p>
                        </div>
                        <div class="auther">
                            <img src="/img/customer2.png">
                            <div class="auther_info">
                                <p>Gerard Way</p>
                                <p class="guest">Guest Review</p>
                            </div>
                        </div>
                    </div>
                    <div class="customer">
                        <span><img src="/img/quotes.png"></span>
                        <div class="text_box">
                            <p>아침 뷔페 훌륭했습니다. 프레지덴셜 스위트는 편안한 침대, 놀라운 전망, 매우 넓은 스파 욕조 및 아름다운 거실 장식으로 훌륭했습니다. 위치는 모든 것이 가깝습니다. 호텔에는 멋진 비밀 정원 산책로도 있었습니다. Conran 매니저는 매우 친절하고 전문적이었습니다. Conran 은 섬에 대한 지식을 알려줌으로써 우리가 즐겁게 지내고 있는지 확인하는 시간을 가졌습니다. 그 덕분에 우리는 현명하게 시간을 최대화할 수 있었습니다.</p>
                        </div>
                        <div class="auther">
                            <img src="/img/customer3.png">
                            <div class="auther_info">
                                <p>Ethan Torchio</p>
                                <p class="guest">Guest Review</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btns">
                    <span class="on"></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="team_members">
            <div class="center">
                <h3 data-aos="fade-right" data-aos-duration="1000">Meet The Team</h3>
                <div class="team_boxs">
                    <div class="box" data-aos="fade-up" data-aos-duration="1000">
                        <div class="img_box">
                            <img src="/img/team1.png">
                        </div>
                        <div class="text_box">
                            <h4>Support Mannager</h4>
                            <h5>Victoria Angelis</h5>
                            <ul class="sns">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box" data-aos="fade-down" data-aos-duration="1000">
                        <div class="img_box">
                            <img src="/img/team2.png">
                        </div>
                        <div class="text_box">
                            <h4>Support Mannager</h4>
                            <h5>Damiano David</h5>
                            <ul class="sns">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box" data-aos="fade-up" data-aos-duration="1000">
                        <div class="img_box">
                            <img src="/img/team3.png">
                        </div>
                        <div class="text_box">
                            <h4>Support Mannager</h4>
                            <h5>Thomas Raggi</h5>
                            <ul class="sns">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script src="js/sub_page01.js"></script>
    <!-- 스크롤시 등장효과 AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>AOS.init();</script>
</body>
</html>