<div id="footer">
    <div class="footer_info">
        <div class="center">
            <div class="top_box">
                <div class="address">
                    <h3>Contact Us</h3>
                    <p class="line">360 Harvest St, North Subract, London. United<br>States Of Amrica</p>
                    <p class="line">info@grandhotel.com</p>
                    <p class="line last_line">+82 287 - 465 - 0659</p>
                </div>
                <ul class="rooms">
                    <h3>Rooms & Suites</h3>
                    <li><a href="/junior_suite">Junior Suite</a></li>
                    <li><a href="/family_room">Family Room</a></li>
                    <li><a href="/double_room">Double Room</a></li>
                    <li><a href="/deluxe_room">Deluxe Room</a></li>
                    <li><a href="/superior_room">Superior Room</a></li>
                </ul>
            </div>
            <div class="bot_box">
                <ul class="links">
                    <h3>Quick Links</h3>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about_us">About</a>
                    </li>
                    <li>
                        <a href="#" class="rooms_gnb">Rooms & Suites</a>
                    </li>
                    <li>
                        <a href="#" class="restaurant_gnb">Facility</a>
                    </li>
                    <li>
                        <a href="#" class="news_gnb">News</a>
                    </li>
                    <li>
                        <a href="/brdlist">Contact</a>
                    </li>
                </ul>
                <div>
                    <h3>Subscribe</h3>
                    <ul class="sns">
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-google"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="center">
            <p>© Copyright 2022 by dayeon</p>
        </div>
    </div>
</div>
<script src="/js/header.js"></script>