<div id="banner" class="main_banner">
    <div class="center">
        <h2 id="banner_h2">ENJOY THE BEST MOMENT OF LIFE</h2>
        <P>The Ultimate Luxury Experience</P>
        <div class="check_box" data-aos="fade-up" data-aos-duration="1000">
        <!-- <div class="check_box"> -->
            <div class="date_line">
                <div class="line">
                    <label for="date_in">Check In</label>
                    <input type="date" name="date_in" placeholder="Check Out">
                </div>
                <div class="line">
                    <label for="date_out">Check Out</label>
                    <input type="date" name="date_out" placeholder="Check in">
                </div>
            </div>
            <div class="select_line">
                <select>
                    <option>1 Adult</option>
                    <option>2 Adult</option>
                    <option>3 Adult</option>
                    <option>4 Adult</option>
                </select>
                <select>
                    <option>1 Child</option>
                    <option>2 Children</option>
                    <option>3 Children</option>
                    <option>4 Children</option>
                </select>
                <select>
                    <option>1 Room</option>
                    <option>2 Room</option>
                    <option>3 Room</option>
                    <option>4 Room</option>
                </select>
            </div>
            <div class="btn_line">
                <a href="#">CHECK NOW</a>
            </div>
        </div>
    </div>
</div>